# Database (Neon PostgreSQL)
DATABASE_URL="postgresql://neondb_owner:xxxx@ep-xxxx.us-east-2.aws.neon.tech/lovegift?sslmode=require"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Resend (for emails)
RESEND_API_KEY=re_MLsd9Gje_7Ckga3bdXzP1akmcDALnNct3

# Notifications
OWNER_EMAIL="marcelin5522@gmail.com"
